@charset "UTF-8";

.left{
    width: 160px;
    height: 170px;
    float: left;
}
.right{
    color: rgba(126, 126, 126, 0.644);
    padding-left: 170px;
}

.footer2{
    clear: both;
    height: 30px;
    text-align: center;
    padding: 20px;
    background-color: rgba(224, 223, 221, 0.678);
    color: hsla(300, 1%, 45%, 0.63);
} 